/*-------------------------------------------------------
Spacing Classes
---------------------------------------------------------*/
.zone {}
.capsule {}
/*Overall Padding*/
.pad-0 { padding: 0px !important; }
.pad-10 { padding:10px !important; }
.pad-15 { padding:15px !important; }
.pad-20 { padding:20px !important; }
.pad-30 { padding:30px !important; }
.pad-40 { padding:40px !important; }
.pad-50 { padding:50px !important; }
.pad-60 { padding:60px !important; }
/*Padding Top & Bottom */
.pad-t-b-0 { padding-top: 0 !important; padding-bottom: 0 !important; }
.pad-t-b-10 { padding-top:10px !important; padding-bottom:10px !important; }
.pad-t-b-15 { padding-top:15px !important; padding-bottom:15px !important; }
.pad-t-b-20 { padding-top:20px !important; padding-bottom:20px !important; }
.pad-t-b-30 { padding-top:30px !important; padding-bottom:30px !important; }
.pad-t-b-40 { padding-top:40px !important; padding-bottom:40px !important; }
.pad-t-b-50 { padding-top:50px !important; padding-bottom:50px !important; }
.pad-t-b-60 { padding-top:60px !important; padding-bottom:60px !important; }
/*Padding Left & Right*/
.pad-l-r-0 { padding-right:0px !important; padding-left:0px !important; }
.pad-l-r-10 { padding-right:10px !important; padding-left:10px !important; }
.pad-l-r-15 { padding-right:15px !important; padding-left:15px !important; }
.pad-l-r-20 { padding-right:20px !important; padding-left:20px !important; }
.pad-l-r-30 { padding-right:30px !important; padding-left:30px !important; }
.pad-l-r-40 { padding-right:40px !important; padding-left:40px !important; }
.pad-l-r-50 { padding-right:50px !important; padding-left:50px !important; }
.pad-l-r-60 { padding-right:60px !important; padding-left:60px !important; }
/*Padding Top*/
.pad-t-0 { padding-top:0px !important; }
.pad-t-10 { padding-top:10px !important; }
.pad-t-15 { padding-top:15px !important; }
.pad-t-20 { padding-top:20px !important; }
.pad-t-30 { padding-top:30px !important; }
.pad-t-40 { padding-top:40px !important; }
.pad-t-50 { padding-top:50px !important; }
.pad-t-60 { padding-top:60px !important; }
/*Padding Bottom*/
.pad-b-0 { padding-bottom:0px !important; }
.pad-b-10 { padding-bottom:10px !important; }
.pad-b-15 { padding-bottom:15px !important; }
.pad-b-20 { padding-bottom:20px !important; }
.pad-b-30 { padding-bottom:30px !important; }
.pad-b-40 { padding-bottom:40px !important; }
.pad-b-50 { padding-bottom:50px !important; }
.pad-b-60 { padding-bottom:60px !important; }
/*Padding Left*/
.pad-l-0 { padding-left:0 !important; }
.pad-l-10 { padding-left:10px !important; }
.pad-l-15 { padding-left:15px !important; }
.pad-l-20 { padding-left:20px !important; }
.pad-l-30 { padding-left:30px !important; }
.pad-l-40 { padding-left:40px !important; }
.pad-l-50 { padding-left:50px !important; }
.pad-l-60 { padding-left:60px !important; }
/*Padding Right*/
.pad-r-0 { padding-right:0px !important; }
.pad-r-10 { padding-right:10px !important; }
.pad-r-15 { padding-right:15px !important; }
.pad-r-20 { padding-right:20px !important; }
.pad-r-30 { padding-right:30px !important; }
.pad-r-40 { padding-right:40px !important; }
.pad-r-50 { padding-right:50px !important; }
.pad-r-60 { padding-right:60px !important; }

/*Overall Margin*/
.mar-0 { margin:0px !important; }
.mar-10 { margin:10px !important; }
.mar-15 { margin:15px !important; }
.mar-20 { margin:20px !important; }
.mar-30 { margin:30px !important; }
.mar-40 { margin:40px !important; }
.mar-50 { margin:50px !important; }
.mar-60 { margin:60px !important; }
/*Margin Top & Bottom*/
.mar-t-b-0 { margin-top:0px !important; margin-bottom:0px !important; }
.mar-t-b-10 { margin-top:10px !important; margin-bottom:10px !important; }
.mar-t-b-15 { margin-top:15px !important; margin-bottom:15px !important; }
.mar-t-b-20 { margin-top:20px !important; margin-bottom:20px !important; }
.mar-t-b-30 { margin-top:30px !important; margin-bottom:30px !important; }
.mar-t-b-40 { margin-top:40px !important; margin-bottom:40px !important; }
.mar-t-b-50 { margin-top:50px !important; margin-bottom:50px !important; }
.mar-t-b-60 { margin-top:60px !important; margin-bottom:60px !important; }
.mar-l-r-0 { margin-left:0 !important; margin-right:0 !important; }
.mar-l-r-10 { margin-left:10px !important; margin-right:10px !important; }
.mar-l-r-15 { margin-left:15px !important; margin-right:15px !important; }
.mar-l-r-20 { margin-left:20px !important; margin-right:20px !important; }
.mar-l-r-30 { margin-left:30px !important; margin-right:30px !important; }
.mar-l-r-40 { margin-left:40px !important; margin-right:40px !important; }
.mar-l-r-50 { margin-left:50px !important; margin-right:50px !important; }
.mar-l-r-60 { margin-left:60px !important; margin-right:60px !important; }
/*Margin Top */
.mar-t-0 { margin-top:0 !important; }
.mar-t-10 { margin-top:10px !important; }
.mar-t-15 { margin-top:15px !important; }
.mar-t-20 { margin-top:20px !important; }
.mar-t-30 { margin-top:30px !important; }
.mar-t-40 { margin-top:40px !important; }
.mar-t-50 { margin-top:50px !important; }
.mar-t-60 { margin-top:60px !important; }
/*Margin Bottom */
.mar-b-0 { margin-bottom:0 !important; }
.mar-b-10 { margin-bottom:10px !important; }
.mar-b-15 { margin-bottom:15px !important; }
.mar-b-20 { margin-bottom:20px !important; }
.mar-b-30 { margin-bottom:30px !important; }
.mar-b-40 { margin-bottom:40px !important; }
.mar-b-50 { margin-bottom:50px !important; }
.mar-b-60 { margin-bottom:60px !important; }
/*Margin Left */
.mar-l-0 { margin-left:0 !important; }
.mar-l-10 { margin-left:10px !important; }
.mar-l-15 { margin-left:15px !important; }
.mar-l-20 { margin-left:20px !important; }
.mar-l-30 { margin-left:30px !important; }
.mar-l-40 { margin-left:40px !important; }
.mar-l-50 { margin-left:50px !important; }
.mar-l-60 { margin-left:60px !important; }
/*Margin Right */
.mar-r-0 { margin-right:0 !important; }
.mar-r-10 { margin-right:10px !important; }
.mar-r-15 { margin-right:15px !important; }
.mar-r-20 { margin-right:20px !important; }
.mar-r-30 { margin-right:30px !important; }
.mar-r-40 { margin-right:40px !important; }
.mar-r-50 { margin-right:50px !important; }
.mar-r-60 { margin-right:60px !important; }
/*Margin Left & Right */
.mar-l-r-0 {  margin:0 0 !important; }
.mar-l-r-10 { margin:0 10px !important; }
.mar-l-r-15 { margin:0 15px !important; }
.mar-l-r-20 { margin:0 20px !important; }
.mar-l-r-30 { margin:0 30px !important; }
.mar-l-r-40 { margin:0 40px !important; }
.mar-l-r-50 { margin:0 50px !important; }
.mar-l-r-60 { margin:0 60px !important; }

/*-------------------------------------------------------
Header Classes
---------------------------------------------------------*/

.header-wrap {
background: #ffffff;
height: 74px;
box-shadow: 1px 0 3px rgba(0,0,0,.15);
}

.shadow{
    -webkit-box-shadow: 0 8px 6px -10px black;
-moz-box-shadow: 0 8px 6px -10px black;
box-shadow: 0 8px 6px -10px black; }

.site-logo{ margin-top: 25px;}
.site-menu{overflow: hidden; margin-top: 25px; float:right;}

.site-menu ul {list-style:none;}
.site-menu li{display: inline-block; margin: 0 15px;}
.sub-menu{overflow: hidden;}

.sub-menu .navbar {
border-radius: 0px;
}

.sub-menu .navbar-inverse {
background-color: #32323a;
border-color: #080808;
}

.sub-menu .navbar-nav {
margin: 0 0 0 -15px;
}

.set{

	background: white; border-radius: 5px; overflow: hidden; padding: 20px;
}

.controller-bar{ height: 30px;}
.controller-bar-anchors{float:right;}
.controller-bar span{float:left; margin-top:5px; }
.img-responsive{width: 100% !important;}

.controller-bar .dropdown-menu{ min-width: 300px;}
.filters{padding: 20px;}

.filters .form-control{padding: 6px; font-weight: normal;}

/*-------------------------------------------------------
Tabs
---------------------------------------------------------*/
.tab-v1{}
.tab-v1 .tab-content .tab-pane{background: white; border-radius: 1px 1px 4px 4px;border:1px solid #ddd;padding: 20px; border-top:0;}

.tab-v2{}
.tab-v2 .tab-content .tab-pane{ background: white; border-radius:0;border:1px solid #ddd;padding: 20px; border-top:0;}
.tab-v2 .nav-tabs > li > a { border-top: 1px solid #ddd; margin-right: 1px;border-radius: 1px 1px 0 0; background: #fafafa;}
.tab-v2 .nav-tabs > li.active a {background: #fff !important; border-top: 1px solid #444444;}
.tab-v2 .nav-tabs > li > a:hover {border-top: 1px solid #444; border-bottom: 1px solid transparent;}
.tab-v2 .nav-tabs > li.active > a:focus{border-top: 3px solid #444  !important;}

/*-------------------------------------------------------
ListMenus
---------------------------------------------------------*/

.list-arrows{}
.list-arrows i{margin-right: 10px; margin-left: -20px !important;}
.list-arrows ul { list-style:none; padding: 0; }
.list-arrows li { padding: 5px 0;padding-left: 20px; }

.list-links{}
.list-links i{margin-right: 10px; margin-left: -20px !important;}
.list-links ul { list-style:none; padding: 0; }
.list-links li { padding: 5px 0;padding-left: 20px; }
.list-links li a{  text-decoration: none;}

.list-bg{}
.list-bg i{margin-left: 0 !important;}
.list-bg ul { list-style:none; padding: 0; }
.list-bg li { padding: 10px 0; border-bottom: 1px solid #e7e6e6;}
.list-bg li:hover { background: #eee;}
.list-bg li:nth-last-child(1){border-bottom: 0;}

/*-------------------------------------------------------
Accordion
---------------------------------------------------------*/
.accordion-v1 .panel-group{ margin-bottom: 0;}
.accordion-v1 .panel-title > a {text-decoration: none; padding-left: 10px; display: block; height: 40px; line-height: 40px;}
.accordion-v1 .panel-heading { padding: 0 !important; line-height: 40px;}
.accordion-v1 .panel-heading i{ float:right; display: inline-block; text-align: center; border-left: 1px solid #ddd;
	height: 40px; width: 40px; line-height: 40px; background: #fff;}


/*-------------------------------------------------------
bootstrap tweaks
---------------------------------------------------------*/
 

 @media (min-width: 768px){
.form-horizontal .control-label {
text-align: left;
}

label {
font-weight: normal;
}

.panel-default > .panel-heading {
color: #767676;
font-weight: bold;
background-color: #fafafa;
border-color: #e9e9e9;
padding: 15px 20px;
}

.panel-default {
border-color: #eff2f7;
}
.panel-body {
padding:20px;
}

.form-control {
border: 1px solid #e2e2e4;
}

.listtd{}
.listtd .table td{ padding:20px 0px 15px 10px; font-size:15px; color:#343434;}

.table{margin-bottom: 0;}

.panel-footer {background: #fff;}

.panel-footer .pagination{ margin-top: 5px; margin-bottom: 0;}

.panel-sub-heading{
	overflow: hidden;
	border-bottom: 1px solid #eee;
	padding:10px 20px;
}

.sub-heading-elements{ float: right; overflow: hidden;}

.summery{overflow: hidden;}